.scope {
}
.code-language-label.scope {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 16px;
  padding: 10px 16px;
  border-bottom: 1px solid #30323b;
  color: #9da2af;
  font-size: 11px;
  line-height: 1.5;
}
